.registersList {
}

.registersListItem {
  margin-top: 14px;
  display: flex;
}

.registerListItemTitle {
  margin-right: 12px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.activeTitle {
  color: #f79f13;
}
